<section class="section">
  <%= link_to "#{t('cta.back-to')} #{t('label.jobs')}", jobs_path %>

  <hr>
  <figure class="image is-retina">
    <%= image_tag @job.image.variant(ImageVariants::SCALED) %>
  </figure>
  <hr>
  <h1 class="title"><%= @job.position %> <%= t('label.at') %> <%= @job.company_name %></h1>
  <h2 class="subtitle"><%= @job.short_description %></h2>
  <p class="has-text-grey">
    <%= @job.starting_date.strftime('%B %Y') %>
    -
    <%= @job.ending_date&.strftime('%B %Y') || t('label.present') %>
  </p>
  <hr>

  <div class="box">
    <article class="media">
      <div class="media-content">
        <%= render 'fragments/content', { content: @job.description } %>
        <nav class="level is-mobile">
          <div class="level-left">
            <%= link_to @job.url,
                        class: 'level-item',
                        'aria-label': 'url',
                        target: '_blank' do %>
            <span class="icon is-large">
              <i class="mdi mdi-open-in-new" aria-hidden="true"></i>
            </span>
            <% end %>
          </div>
        </nav>
      </div>
    </article>
  </div>
</section>