<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= t(".title") %>
  </h1>
</header>
<section class="main-content__body">
  <div id="clearance" class="password-reset">
    <p><%= t(".description") %></p>
    <%= form_for :password, url: passwords_path do |form| %>
      <div class="text-field">
        <%= form.label :email %>
        <%= form.text_field :email, type: 'email' %>
      </div>

      <div class="submit-field">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</section>
