<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <h1 class="subtitle is-bold is-uppercase">Matteo Joliveau</h1>
    <% end %>
    </a>

    <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      <%= link_to t('label.projects'), projects_path, class: 'navbar-item' %>
      <%= link_to t('label.jobs'), jobs_path, class: 'navbar-item' %>
      <%= link_to t('label.about'), about_path, class: 'navbar-item' if Copy.about.present? %>
      <%= link_to t('label.contacts'), contacts_path, class: 'navbar-item' if Copy.contacts.present? %>
    </div>
  </div>
</nav>