<div class="columns is-multiline is-centered">
  <% projects.each do |project| %>
    <div class="column is-one-third">
      <div class="card">
        <%= link_to project_path(project), class: 'card-image' do %>
          <figure class="image">
            <%= image_tag project.image.variant(ImageVariants::SCALED) %>
          </figure>
        <% end %>
        <header class="card-header">
          <%= link_to project_path(project), class: 'card-header-title' do %>
            <p><%= project.name %></p>
          <% end %>
          <% if project.starred? %>
            <div class="card-header-icon">
              <span class="icon">
                <i class="mdi mdi-star" aria-hidden="true"></i>
              </span>
            </div>
          <% end %>
        </header>
        <div class="card-content">
          <% if project.tag_list.any? %>
            <div class="level">
              <div class="level-left">
                <% project.tag_list.each do |tag| %>
                  <%= link_to tag, projects_path(tag: tag), class: 'dev-project-tag' %>
                  <%#= content_tag :span, tag, class: 'dev-project-tag' %>
                <% end %>
              </div>
            </div>
          <% end %>
          <%= link_to project_path(project), style: 'color: inherit;' do %>
            <%= project.short_description %>
          <% end %>
        </div>
        <footer class="card-footer">
          <% [
                 { name: 'URL', url: project.url },
                 { name: 'Website', url: project.website }
             ].each do |link| %>
            <%= link_to(link[:name], link[:url], class: 'card-footer-item', target: '_blank') if link[:url].present? %>
          <% end %>
        </footer>
      </div>
    </div>
  <% end %>
</div>